<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dantas Store</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="~/Products">Products</a></li>
            <li><a href="~/Home/About">About</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>